@font-face{
  font-family:gun;
  src:url(./fontes/gunmetl.ttf)
  
}
@keyframes cor{
 
  50%{
    filter: drop-shadow(0 0 16px rgb(218, 51, 129));
  }
  50%{
    filter: drop-shadow(0 0 16px rgb(221, 0, 29));
  }

  50%{
    filter: drop-shadow(0 0 16px rgb(190, 0, 111));
  }
  50%{
    filter: drop-shadow(0 0 16px rgb(0, 201, 167));
  }
  75%{
    filter: drop-shadow(0 0 16px rgb(8, 4, 255));
  }
 100%{
  filter: drop-shadow(0px 2px 17px rgb(255, 5, 192));
  }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, rgb(28, 7, 77) ,rgb(71, 9, 87),rgb(28, 55, 114));
    width: 100%;
    min-height:100vh;
}
.cabecalho{
    display:flex;
    align-items: center;
    padding-left:100px;
    background-image: linear-gradient(to right, rgb(34, 10, 92) ,rgb(86, 15, 104),rgb(28, 55, 114));
    height: 100px;
    padding-top: 20px;
    width: 100%;
}
.titulo{
  
  height: 80px;
  width: 50vh;
  opacity: 90%;
  filter: drop-shadow(0px 2px 17px rgb(255, 5, 192));
  animation-name:cor;
  animation-duration:8s;
  animation-iteration-count: infinite;

}
/* .techflix{
  font-family:gun;
    align-items: center;
    text-align: start;
    font-style: italic;
    font-weight: bold;
    font-size:70px;
    margin-left: 130px;
    color:rgb(218, 14, 190) ;
    text-shadow:8px 0px 3px #1da5e4,0px 0px 5px #0992d1 ,0px 0px 7px #0992d1;
  -webkit-text-stroke-width:0.01em;
  -webkit-text-stroke-color: black;
} */
.envelope{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 40px;

}
.descricao{
    display:flex;
    justify-content:center;
    align-items: center;
    width:30vw;
    flex-direction: column;
    margin-top:-30px;
    height:50%;
    
}
.logo{
    width: 50%;
    height:50%;
border-radius: 100px;
box-shadow: 9px -10px 19px black;
opacity:90%;
}
p{
    padding:0 20%;
    text-align:center;
    margin-top: 10px;
    font-size: 22px;
    font-family: 'Karantina', cursive;
    color:white;
    text-shadow:2px 2px 2px black;
}
.imagens{
    box-shadow: 8px -6px 10px black;
    overflow: hidden;
    height:400px;
    width: 280px;
    margin-top: 40px;
    border-radius: 20px;
    opacity:90%;
}
.container{
    display:flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    border-radius: 10px;
    
  }
  img{
      object-fit: cover;
      height:400px;
      width:280px;
  }
  .modal-content{
    border-radius: 30px;
    
  }
  .filmes{
      box-sizing: border-box;
      margin-right:180px ;
  }
  .modal-header{
    background-image: linear-gradient(to right, rgb(47, 8, 63) ,rgb(88, 15, 90),rgb(23, 47, 99));
    color:rgb(0, 0, 0) ;
    border:1px dashed rgb(54, 154, 255);
    border-radius: 30px 30px 0 0;
  }
  .modal-title{
    font-family: 'Karantina', cursive;
    font-size:35px;
    text-shadow:-3px 5px 5px rgb(0, 0, 0);
    -webkit-text-stroke-width:0.01em;
    -webkit-text-stroke-color: black;
    color:rgb(238, 238, 238) ;
  }
  .modal-body{
    font-family: 'Karantina', cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, rgb(47, 8, 63) ,rgb(88, 15, 90),rgb(23, 47, 99));
    color:rgb(255, 255, 255) ;
    text-shadow:-3px 5px 5px rgb(0, 0, 0);
    -webkit-text-stroke-width:0.01em;
    -webkit-text-stroke-color: black;
    border:1px dashed rgb(255, 255, 255);
  }
  .modal-footer{
    background-image: linear-gradient(to right, rgb(47, 8, 63) ,rgb(88, 15, 90),rgb(23, 47, 99));
    color:rgb(0, 0, 0) ;
    text-shadow:-3px 5px 5px rgb(78, 132, 248);
    -webkit-text-stroke-width:0.01em;
    -webkit-text-stroke-color: black;
    border:none;
    border:1px dashed rgb(255, 255, 255);
    border-radius:  0 0 30px 30px;
  }
  .btns{
    font-family: 'Karantina', cursive;
    text-shadow:-3px 5px 5px rgb(0, 0, 0);
    font-size: 25px;
    background:none;
    border:none;
    color:rgb(255, 255, 255) ;
  }
  .glider-prev,.glider-next{
    font-size: 80px;
    color:white;
  }
  .bts{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    margin-top: -15px;
  }
  .filme4{
    display:flex;
    justify-content:space-around;
    flex-flow: row wrap;
    box-sizing: border-box;
    cursor: pointer;
    height:1400px;
  }
  .vitrine{
    height: 350px;
    width: 230px;
    overflow: hidden;
    box-shadow: 2px 2px 4px black;
    border-radius: 20px;
  }
  .vitrine>img{
    height: 350px;
    width: 230px;
    object-fit: cover;
    border-radius: 20px;
  }