@font-face{
  font-family:gun;
  src:url(./fontes/gunmetl.ttf)
  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, rgb(73, 12, 97) ,rgb(121, 24, 124),rgb(60, 90, 155));
    width: 100%;
    min-height:100vh;
}
.cabecalho{
    display:flex;
    align-items: center;
    background-image: linear-gradient(to right, rgb(47, 8, 63) ,rgb(88, 15, 90),rgb(23, 47, 99));
}
h1{
  font-family:gun;
    align-items: center;
    text-align: start;
    font-style: italic;
    font-weight: bold;
    font-size:70px;
    margin-left: 130px;
    color:rgb(128, 23, 170) ;
    text-shadow:-4px 2px 2px rgb(108, 211, 252);
    -webkit-text-stroke-width:0.01em;
    -webkit-text-stroke-color: black;
}
.envelope{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 40px;

}
.descricao{
    display:flex;
    justify-content:center;
    align-items: center;
    width:30vw;
    flex-direction: column;
    margin-top:-30px;
    height:50%;
}
.logo{
    width: 50%;
    height:50%;
border-radius: 20px;
opacity: 70%;
box-shadow: 9px -10px 19px black;
}
p{
    padding:0 20%;
    text-align:center;
    margin-top: 10px;
    font-size: 22px;
    font-family: 'Karantina', cursive;
    color:white;
    text-shadow:2px 2px 2px black;
}
.imagens{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height:400px;
    width: 280px;
    margin-top: 40px;
    border-radius: 20px;
}
.container{
    display:flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    border-radius: 10px;
    
  }
  img{
      object-fit: cover;
      height:400px;
      width:280px;
  }
  .modal-content{
    border-radius: 30px;
    
  }
  .filmes{
      box-sizing: border-box;
      margin-right:180px ;
  }
  .modal-header{
    background-image: linear-gradient(to right, rgb(47, 8, 63) ,rgb(88, 15, 90),rgb(23, 47, 99));
    color:rgb(0, 0, 0) ;
    border:1px dashed rgb(54, 154, 255);
    border-radius: 30px 30px 0 0;
  }
  .modal-title{
    font-family: 'Karantina', cursive;
    font-size:35px;
    text-shadow:-3px 5px 5px rgb(0, 0, 0);
    -webkit-text-stroke-width:0.01em;
    -webkit-text-stroke-color: black;
    color:rgb(238, 238, 238) ;
  }
  .modal-body{
    font-family: 'Karantina', cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, rgb(47, 8, 63) ,rgb(88, 15, 90),rgb(23, 47, 99));
    color:rgb(255, 255, 255) ;
    text-shadow:-3px 5px 5px rgb(0, 0, 0);
    -webkit-text-stroke-width:0.01em;
    -webkit-text-stroke-color: black;
    border:1px dashed rgb(255, 255, 255);
  }
  .modal-footer{
    background-image: linear-gradient(to right, rgb(47, 8, 63) ,rgb(88, 15, 90),rgb(23, 47, 99));
    color:rgb(0, 0, 0) ;
    text-shadow:-3px 5px 5px rgb(78, 132, 248);
    -webkit-text-stroke-width:0.01em;
    -webkit-text-stroke-color: black;
    border:none;
    border:1px dashed rgb(255, 255, 255);
    border-radius:  0 0 30px 30px;
  }
  .btns{
    font-family: 'Karantina', cursive;
    text-shadow:-3px 5px 5px rgb(0, 0, 0);
    font-size: 25px;
    background:none;
    border:none;
    color:rgb(255, 255, 255) ;
  }
  .glider-prev,.glider-next{
    font-size: 80px;
    color:white;
  }
  .bts{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    margin-top: -15px;
  }
  .filme4{
    display:flex;
    justify-content:space-around;
    flex-flow: row wrap;
    box-sizing: border-box;
    cursor: pointer;
    height:1400px;
  }
  .vitrine{
    height: 350px;
    width: 230px;
    overflow: hidden;
    box-shadow: 2px 2px 4px black;
    border-radius: 20px;
  }
  .vitrine>img{
    height: 350px;
    width: 230px;
    object-fit: cover;
    border-radius: 20px;
  }